.layout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    gap: 30px;
}

.text-container {
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.calculator-container {
    flex: 1;
    max-width: 420px;
    padding: 22px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 26px;
    margin-bottom: 18px;
    color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.input-group label {
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #ffffff;
    outline: none;
}


.calculate-btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #26ff00;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.calculate-btn:hover {
    background-color: rgba(38, 255, 0, 0.75);
}

h2 {
    margin-top: 18px;
    font-size: 21px;
    color: #fff;
}

@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
        text-align: center;
    }

    .calculator-container,
    .text-container {
        width: 100%;
    }
}